name: CI/CD Pipeline
on:
 push:
   branches:
     - main

jobs:
 build-and-deploy:
   runs-on: self-hosted

   steps:
   - name: Checkout Code
     uses: actions/checkout@v3

   - name: Login to DockerHub
     uses: docker/login-action@v2
     with:
       username: ${{ secrets.DOCKER_USERNAME }}
       password: ${{ secrets.DOCKER_PASSWORD }}

   - name: Build Docker Image
     run: |
       docker build -t ak7999ks/nodejs-app:${{ github.sha }} .

   - name: Push Docker Image
     run: |
       docker push ak7999ks/nodejs-app:${{ github.sha }}


   - name: Deploy to Kubernetes
     run: |
       kubectl apply -f k8n/deployment.yaml
       kubectl apply -f k8n/service.yaml
   
   - name: Update Kubernetes Image
     run: |
       kubectl set image deployment/nodejs-app \
       nodejs-app=ak7999ks/nodejs-app:${{ github.sha }}
